<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innova.smsgps"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="18" />


    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />



    <permission android:name="com.example.androidmapsv2.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.androidmapsv2.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name=".application.Globals">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXegeLsvOxuMMGbA4EYzVJOyu-jOLrqsc"/>

    <activity android:name=".SmsActivity">
        </activity>
        <activity android:name=".ActivityConfigListaContactos"/>
        <activity android:name=".ActivityLoginFb"/>
        <activity android:name=".ActivityConfigContactos"/>
        <activity android:name=".ActivityListaRegistroAlertas"/>
        <activity android:name=".ActivityMap"/>
        <activity android:name=".ActivityPostDenuncia"/>
        <activity android:name=".ActivityListaRegistroDenuncias"/>
        <activity android:name=".ActivityListaDispositivosBluetooth"/>
        <activity android:name=".ActivityGrabarVideo"/>
        <activity android:name=".ActivitySelfieOpciones"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />


        <activity android:name=".ActivityCameraPhoto"
            android:allowBackup="true"
            android:label="@string/app_name" />
        <activity android:name=".ActivityMenuOpciones"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity android:name=".ActivityMapaAlertas"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity android:name=".ActivityFacebookAccount"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity android:name=".ActivityMenu"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity android:name=".ActivityRegistroUsuario"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />
        <activity android:name=".ActivityListaContactos"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyTheme" />


        <activity android:name=".ActivitySplash"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityBienvenidaInfoAplicativo"/>
        <activity android:name=".ActivityBienvenidaInfoGps"/>
        <activity android:name=".ActivityBienvenidaInfoBluetooth"/>
        <activity android:name=".ActivityDenunciaRegistroUpload"/>

        <activity android:name=".ManagerFragmentsConfiguracion">

        </activity>
        <activity android:name=".ManagerFragmentsSms">

        </activity>

        <service
            android:name=".ServicioSms"
            android:exported="true"/>
        <activity android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />


    </application>


</manifest>
